<% if @teams.blank? %>
  <p>何もない</p>
  <%= link_to "新規登録", new_team_path, class:"" %>
<% else %>
  <% @teams.each do |team| %>
    <ul>
      <li>
        <%= link_to team.name, team_path(team.id), class:"" %>
      </li>
    </ul>
    <%= link_to "新規登録", new_team_path, class:"" %>
  <% end %>
<% end %>
