@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'variables';


html,body{
  height:100%;
  color:black;
  background-color: map-get($colors, "white");
}