@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'variables';
@import 'utilities';


html,body{
  height:100%;
  color:black;
  background-color: map-get($colors, "white");
}

a{
  text-decoration: none;
  color:black;
}