@import 'variables';

// 文字色
.text-s-gray {
  color: map-get($colors, "slate-gray") !important;
}
.text-b-gray{
  color: map-get($colors, "blue-gray") !important;
}
.text-black{
  color: map-get($colors, "black") !important;
}

// 背景色
.bg-s-gray {
  background-color: map-get($colors, "slate-gray");
}
.bg-s-white {
  background-color: map-get($colors, "snow-white");
}
.bg-white {
  background-color: map-get($colors, "white");
}

// 画像サイズ
.team-img{
  width: 100%;
  padding-top: 80%;
  background-position: center center;
  background-size: cover;
}

// 見出し
.headline-large {
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.text-name{
  font-weight: bold;
  font-size: xx-large;
}

.card-text{
  color: black;
}

.bg-normal{
  background-image: url('../images/mv_2.jpg');
  background-size: cover;
  width: 100%;
  height: 30rem;
  background-position: center center;
}

a{
  text-decoration: none;
  color:black;
}

.btn-outline-light-green {
  color: map-get($colors, "light-green");
  border: 1px solid map-get($colors, "light-green");
  &:hover{
    color: white;
    background: map-get($colors, "light-green");
  }
}