<div class="container py-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <div class="bg-s-gray py-4 px-5 rounded-2 border border-5 border-dark">
        <h1>403 Forbidden</h1>
        <p>
          <%= case @exception 
               when ApplicationController::IpAddressRejected
                    "あなたのIPアドレス(#{request.ip})からは利用できません。"
               else
                    "指定されたページを閲覧する権限がありません。"
               end
          %>
        </p>
      </div>
    </div>
  </div>
</div>