<div class="container py-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <div class="bg-s-gray py-4 px-5 rounded-2 border border-5 border-dark">
        <h1>404 Not Found</h1>
        <p>指定されたページは見つかりません。</p>
        <p><%= request.env["REQUEST_URI"] %></p>
      </div>
    </div>
  </div>
</div>