<div class="container py-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <div class="bg-s-gray py-4 px-5 rounded-2 border border-5 border-dark">
        <h1>422 Unprocessable Entity</h1>
        <p>指定されたページは表示できません。</p>
      </div>
    </div>
  </div>
</div>